@"
# Node
node_modules/
dist/
.env
.env.local
.vite/
.vscode/

# Logs
logs
*.log

# Build output
build/
coverage/

# IDEs y SO
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
"@ | Out-File -Encoding utf8 .gitignore


*.wav
frontend/.env.local
frontend/.env
